{% extends 'header.html' %}

{% block title %}
<title>Tryouts</title>
{% endblock %}

{% block content %}
<div class="links">
  <div><a href="./clubs.html">CLUBS</a></div>
  <div><a href="./latest-transfers.html">LATEST TRANSFERS</a></div>
  <div><a href="./players.html">PLAYERS</a></div>
  <div><a href="./U-20 players.html">U-20 PLAYERS</a></div>
  <div class="navActive"><a href="#">TRYOUTS</a></div>
  <div><a href="./stats.html">STATS</a></div>
  <div><a href="./about.html">ABOUT US</a></div>
</div>

{% endblock %}



